*{

box-sizing: border-box;
padding: 0;
margin: 0;
}
@font-face{
    font-family:Cairo-Bold ;
    src: url(../Fonts/Cairo-Bold.ttf);
}
@font-face{
    font-family:Cairo-Medium ;
    src: url(../Fonts/Cairo-Medium.ttf);
}
@font-face{
    font-family:Cairo-Regular ;
    src: url(../Fonts/Cairo-Regular.ttf);
}
@font-face{
    font-family:Cairo-ExtraBold ;
    src: url(../Fonts/Cairo-ExtraBold.ttf);
}
@font-face{
    font-family:Poppins-SemiBold ;
    src: url(../Fonts/Poppins-SemiBold.ttf);
}
.container-fluid{
    background-color: #490E66;

}
.navbar .top-navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0rem;
}
.navbar-nav{
    margin-left: 15rem;
}
.btn-outline-success{
    background-color: #ffffff;
    color: #490E66;;
    font-family:Cairo-Medium ;
    font-size: 14px;
    padding: .3rem 1rem;
    border: none;
    border-radius: 5px;
}
.star i{
    color: #490E66;
}
.nav-item a{
    color: #ffffff;
    font-family:Cairo-Regular ;
    font-size: 14px;
}
.header{
    background-color: #490E66;
    font-family:Cairo-Bold ;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    padding: .5rem;
}
select{
    padding: .3rem 5.1rem;
    border-radius: 5px;
    border-color: #e2e2e2;
}
.form-label{
  color: #490E66; 
  font-family:Cairo-Regular ;
  font-size: 14px; 
}
.form-control::placeholder{
    color: #e2e2e2;
    font-family:Cairo-Regular ;
    font-size: 12px;
}
a .nav-link{
   color: #e2e2e2;
}
.dropdown{
    border: #e2e2e2 solid;
    border-width: 1px;
    padding: .7rem 1rem;
    border-radius: 5px;
}
.fillter-box{
    border-color: #490E66;
}
.card-filter{
    max-width: 18rem
}
.one-card-box{
    width: 20rem
}
.fillter{
    width: 20rem;
}
.search {
    padding-top: 5.3rem;
    padding-bottom: 1rem;
}
.search input{
    width: 18rem;
}
.studio{
    font-family:Cairo-Bold ;
    font-size: 24px;
    color: #490E66;
}
.box{
    display: flex;
}
.icon{
    padding-right: 5rem;
    padding-top: .5rem;
}
.icons{
    padding-right: 6rem;
    padding-top: .5rem;
}
.iconss{
    padding-right: 6.2rem;
    padding-top: .5rem;
}
.icon i{
    color: #490E66;
}
.icons i{
    color: #490E66;
}
.iconss i{
    color: #490E66;
}
.cardds{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
}
.cardds .evaluation {
    padding-right:7rem;
    font-family: Poppins-SemiBold;
    font-size: 15px;
    color: rgb(73, 14, 102);
}
.details{
    background-color: #3DD1CD;
    padding: .3rem 1.5rem;
    border: none;
    border-radius: 5px;
}
.details a{
    text-decoration: none;
    color:#490E66 ;
    font-family:Cairo-Regular ;
    font-size: 18px;
    text-align: center;
}
.cost{
    padding-right: 7rem;
    font-family:Poppins-SemiBold ;
    font-size: 15px;
    color: #490E66;

}
.item-category{
    display: flex;
}
.category{
    padding-right: 2rem;
    padding-top: 5.3rem;
}
.icons-2{
    padding-right: 6rem;
    color: #490E66;
    padding-top: .5rem; 
}

.fist-boxes{
    display: flex;
}
.second-boxes{
    display: flex;
    padding-top: 2rem;
}
.second-card{
   margin-right: 3rem;
   width: 20rem
}
.login{
    display: flex;
}
.wedding-photo{
 /* padding-left: 8rem;
 padding-right: 8rem;
 height: 50%; */
 height: 90vh;
}
.div-carosal {
    height: 90vh;
}

.avaliable-time{
    padding-right: 1rem;
    font-family:Poppins-SemiBold ;
    font-size: 15px;
}
.time{
    padding-right: 4rem;
    font-family:Cairo-Regular ;
    font-size: 12px;
}
.componant{
    padding: .5rem 2rem;
}
.location{
    padding-right: 5.7rem;
    font-family:Cairo-Regular ;
    font-size: 12px;
}
.evaluat{
    padding-right: 5.8rem;
    font-family:Cairo-Regular ;
    font-size: 12px;  
}
.dollar{
    padding-right: 4rem;
    font-family:Cairo-Regular ;
    font-size: 12px;  
}
.dol-cost{
    padding-right: 5.5rem;
    font-family:Cairo-Regular ;
    font-size: 12px;  
}
.card-header-detailes{
    font-family:Cairo-Bold ;
    font-size: 18px;
    color: #490E66;
    padding: .5rem ;
    text-align: center;
    border: rgb(212, 212, 212) solid;
    border-width: 1px;
    border-radius: 0rem;
}
.card-head-detailes{
    font-family:Cairo-Bold ;
    font-size: 18px;
    color: #490E66;
    padding: .5rem ;
    text-align: center;
    border: rgb(212, 212, 212) solid;
    border-width: 1px;
    border-radius: 0rem;
}
.contact{
    font-family:Cairo-Bold ;
    font-size: 18px;
    color: #490E66;
    padding-right: 2rem;
    padding-bottom: 1rem;
}
.emails{
    padding-right: 2rem;
    padding-bottom: 1rem;
}
.emails .mails{
    padding-right: 1rem;
    font-family:Poppins-SemiBold ;
    font-size: 15px;
}
.emails .codee{
    padding-right: 2rem;
    font-family:Cairo-Regular ;
    font-size: 12px;  
}
.emails .phone-No{
    padding-right: 3.5rem;
    font-family:Cairo-Regular ;
    font-size: 12px; 
}
.contact-US{
    border-radius: 1rem;
    margin: 2rem;
    width: 24rem;
  
}
.all{
    padding-right: 2rem;
}
    .dispalay {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
.map-card{
    margin: 0rem ;
    width: 24rem;
    border-radius: .8rem;
}
.map-card img{
    height: 20.8rem;
}
.book{
    padding: .2rem 9rem;
    background-color: #3CC5C0;
    color: #490E66;
    border-radius: .2rem;
    border: none;
    font-family:Cairo-Regular ;
    font-size: 16px; 
    margin-bottom: 1rem;
    border-radius: .2rem;
    /* margin-top: 1rem; */
}
.region{
    padding: .2rem 9rem;
    background-color: #3CC5C0;
    color: #490E66;
    border-radius: .2rem;
    border: none;
    font-family:Cairo-Regular ;
    font-size: 16px; 
    margin-top: 1rem;
}
.lamis{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.comment{
    display: flex;
}
.description h3{
    font-family:Cairo-Bold ;
    font-size: 14px;
}
.description span{
    font-family:Cairo-Regular ;
    font-size: 12px; 
}
.table{
    padding: 3rem 8rem;
}
.description{
    justify-content: center;
    align-items: center;
}
nav.navbar.drop-donn.navbar-expand-lg.bg-body.top-navbar {
    padding: 0;
}
.photo-carosal{
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #000000;
    overflow: hidden;
    width: 100%;
    height:0;
    opacity: .7;
    transition: .5s ease;
    bottom: 0;
    height: 100%;
  }
  /* .over:hover .overlay {
    bottom: 0;
    height: 100%;
  } */
  .text {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 30%;
    font-family:Cairo-Bold ;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .select-option {
    padding: 0.5rem 6rem;
    padding-left: 66%;
    font-size: 11px;
    color: #c5c3c3;
    padding-right: 14%;
    text-align: right;
    box-shadow: none;
    margin-bottom: 1rem;
}
.select-optio {
    padding: 0.5rem 6rem;
    padding-left:58%;
    font-size: 11px;
    color: #c5c3c3;
    padding-right: 14%;
    text-align: right;
    box-shadow: none;
    margin-bottom: 1rem;
}
.select-opti {
    padding: 0.5rem 6rem;
    padding-left:52%;
    font-size: 11px;
    color: #c5c3c3;
    padding-right: 14%;
    text-align: right;
    box-shadow: none;
    margin-bottom: 1rem;
}
.opacity-color{

        color: #bfbaba;
        font-size: 14px;
    }
